body {
    background: rgb(59, 59, 59);
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    background-image: url("../img/banner.png");
    background-position: center;
    background-size: 100%;
    height: 150px;
    padding: 20px;
    text-align: center;
}

header .logo a {
    background-image: url("../img/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
    display: inline-block;
    height: 200px;
    position: relative;
    text-indent: -99999999px;
    top: -20px;
    width: 300px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
}

.cover {
    object-fit: cover;
}

.contain {
    object-fit: contain;
}

.features {
    align-items: center;
    align-content: space-around;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding: 30px;
}

.features figure {
    background-color: black;
    border-radius: 20px;
    margin: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}

.features figure a {
    text-decoration: none;
    color: lightgray;
}

.features figure img {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: gray 0 0 10px;
    width: 200px;
}

.features figure figcaption:hover {
    color: black;
    transition-duration: 500ms;
}

.features figure:hover {
    background-color: darkgray;
    transition-duration: 500ms;
    transition-delay: 100ms;
    transform: scale(1.5);
}

.responsive {
    background-color: rgb(200, 200, 200);
    border: 6px solid rgb(200, 200, 200);
    border-radius: 10px;
    margin-right: 35%;
    margin-left: 35%;
}

.responsive a:link,
.responsive a:visited {
    color: rgb(0, 125, 225);
    text-decoration: none;
    background-color: rgb(200, 200, 200);
    padding: 4px;
    border-radius: 6px;
    transition-duration: 500ms;
}

.responsive a:hover {
    color: blue;
    background-color: rgb(150, 150, 150);
    border-radius: 2px;
    transition-duration: 500ms;
    transition-delay: 75ms;
}

.responsive a:active {
    color: blueviolet;
}

#ip {
    background-color: rgb(59, 59, 59);
    border: none;
    border-radius: 6px;
    color: gold;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
}

#ipButton {
    background-color: rgb(59, 59, 59);
    border: none;
    color: lightgreen;
    font-size: 12px;
    padding-left: 0px;
}
