.footer {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

.rules {
    margin: 3%;
}

.texts {
    background-color: #5c5c5c;
    border: solid 2px #2f4f4f;
    padding: 10px;
}

.texts ul {
    margin: 0;
    padding: 0;
}

.texts ul li number {
    color: #afafaf;
    margin-right: 10px;
}

.texts ul li p {
    font-size: 15px;
    margin: 0 0 15px;
    padding-left: 20px;
}

.title {
    font-size: 30px;
}

.title,
.footer {
    color: #fff;
    font-weight: 700;
    text-shadow: 2px 2px #000;
}

h3 {
    color: #64c6ff;
    margin: 20px 0 10px;
    text-decoration: underline;
}
