html {
    font-family: sans-serif;
}

body {
    background: url(../img/background.png);
    margin: 0;
    padding: 0;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
